*{

}
.klikmenu {
  display: flex;
  justify-content: space-around;
  background-color: green;
  border-radius: 30px;
  width: 99%;
  font-size: 20px;
  font-style: italic;
}

.klikmenu .knopje {
  border-style: solid;
  border-radius: 10px;
  width: 12%;
  justify-content: space-around;
  display: flex;
}
.title{
  display: flex;
  justify-content: center;
  width:  100%;
}
