* {

}

.klikmenu {
  display: flex;
  justify-content: space-around;
  background-color: green;
  border-radius: 30px;
  width: 99%;
  font-size: 20px;
  font-style: italic;
}

.klikmenu .knopje {
  border-style: solid;
  border-radius: 10px;
  width: 12%;
  justify-content: space-around;
  display: flex;

}

#title {
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
  position: 10px, 0px, 0px, 0px;

}

.intoduction {
  bra
